{# templates/Manager/request_pending.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <title>{% block title %}Manager - Consulter une demande{% endblock %}</title>

    {% include 'layout/menu/_header.html.twig' %}

    <main style="display: flex;">

        {% include 'layout/menu/_sidebar.html.twig' %}

        <div class="w-full p-8 overflow-y-auto">

            <h1 class="text-left font-bold text-2xl mb-4 " style='color : #004C6C'>Demande de Lucas Dupas</h1>
            <h2 class="text-left font-semibold text-m mb-4" style='color : #38738c'>Demande du 10/12/2024</h2>

            <p class="my-2">Période : 08/01/2025 13h30 au 08/01/2025 18h00</p>
            <p class="my-2">Type de demande : Congé Payé</p>
            <p class="my-2">Nombre de jours : 0,5 jours</p>

            <p class="mb-2 mt-5">Commentaire supplémentaire</p>
            <textarea id="" class="w-[55%] h-[25%] text-[#b4c4cf] bg-white border border-[#dfe4ea] rounded-md p-5 resize-none font-[5]" readonly>Bonjour, j’aimerai si possible prendre une après-midi pour pouvoir passer mon permis moto.</textarea>

            <button type="submit" class="text-[#004c6c] bg-[#ebf1f4] border-none rounded-md w-[300px] h-[35px] font-medium my-7 cursor-pointer block">Télécharger le justificatif</button>

            <h1 class="text-left font-bold text-2xl mb-4 " style='color : #004C6C'>Répondre à la demande</h1>

            <p class="mb-2 mt-5">Saisir un commentaire</p>
            <textarea id="" class="w-[55%] h-[25%] text-[#b4c4cf] bg-white border border-[#dfe4ea] rounded-md p-5 resize-none" readonly></textarea>

            <div>
                <button type="submit" class="text-[#ebf1f4] bg-[#E10E0E] rounded-lg w-[210px] h-[36px] font-medium my-7 cursor-pointer inline-block">Refuser la demande</button>
                <button type="submit" class="mx-3 text-[#ebf1f4] bg-[#1A8245] rounded-lg w-[203px] h-[36px] font-medium my-7 cursor-pointer inline-block">Valider la demande</button>
            </div>


        </div>
    </main>
{% endblock %}