{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
	#myChart{
		width: 500px!important;
		height: 500px!important;
	}
</style>
{% endblock %}
{% block body %}
    {% include 'layout/menu/_header.html.twig' %}
	<title>{% block title %}Statistique{% endblock %}</title>

	<main style="display: flex;">
		{% include 'layout/menu/_sidebar.html.twig' %}
		<div class="w-full p-8">
			<h1 class="text-left font-bold text-2xl my-4 " style='color : #004C6C !important'>Statistiques</h1>
			<h2 class="text-left font-semibold text-xl mb-4" style='color : #38738c !important'>Types de demandes sur l’année</h2>

			<canvas id="myChart"></canvas>
			<script>
				document.addEventListener("DOMContentLoaded", function () {
					const ctx = document.getElementById('myChart').getContext('2d');
					const chartData = {{ requestData|raw }};

					new Chart(ctx, {
						type: 'pie',
						data: {
							labels: chartData.labels,
							datasets: [{
								data: chartData.values,
								backgroundColor: ['#4284f4', '#db4537', '#f4b400', '#0b9d58', '#ff6d01','#333333'],
								hoverBackgroundColor: ['#3164c8', '#b3362d', '#c39300', '#097e45', '#cc5500', '333330'],
							}]
						},
						options: {
							responsive: false,
							plugins: {
								legend: {
									display: false,
									position: 'bottom',
								},
								 tooltip: {
									enabled: true,
									titleFont: { size: 16, weight: 'bold' },
									bodyFont: { size: 14 },
									padding: 12,
									boxPadding: 10,
								 },
							}
						}
					});
				});

			</script>
	
			<h2 class="text-left font-semibold text-xl mb-4 mt-[1rem]" style='color : #38738c !important'>Pourcentage d’acceptation des demandes sur l’année</h2>
		</div>
    </main> 
{% endblock %}