{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}

	{% include 'layout/menu/_header.html.twig' %}

	<main style="display: flex;">

		{% include 'layout/menu/_sidebar.html.twig' %}

        <div class="w-full p-8 overflow-y-auto">

            <h1 class="text-left font-bold text-2xl my-4 text-[#004C6C]">Réinitialiser votre mot de passe</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword, {'attr': {'class': 'bg-[#004C6C] hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2'}} ) }}
                <button class="text-[#ebf1f4] bg-[#004C6C] rounded-lg w-[154px] h-[35px] font-medium my-7 cursor-pointer inline-block">Réinitialiser</button>
            {{ form_end(resetForm) }}

    	</div>
    </main>

{% endblock %}