{% block header %}

	<header class="w-[97%] h-[40px] -mt-2 mx-[1.5%] rounded-[10px] bg-[#b4c4cf] absolute"></header>
	<div class="w-[98%] h-[50px] mt-5 mx-auto flex items-center bg-[#004c6c] rounded-[10px] relative py-8">
		<div class="h-[40px] mx-5">
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('assets/image/logo-mentalworks-blanc.png') }}" alt="Image Logo">
			</a>
		</div>
	</div>

{% endblock %}
