{# templates/collaborateur/detail_request.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <title>{% block title %}Détails d'une Demande{% endblock %}</title>

    {% include 'layout/menu/_header.html.twig' %}

    <main style="display: flex;">

        {% include 'layout/menu/_sidebar.html.twig' %}

        <div class="w-full p-8 overflow-y-auto">
            <h1 class="text-left font-bold text-2xl my-4 " style='color : #004C6C'>Ma demande de congé</h1>
            <h2 class="text-left font-semibold text-m mb-4" style='color : #38738c'>Demande du 10/12/2024</h2>

            <p class="my-2">Type de demande : Congé Payé</p>
            <p class="my-2">Période : 19/12/2024 08h00 au 23/12/2024 18h00</p>
            <p class="my-2">Nombre de jours : 3 jours</p>

            <p class="my-[30px]" >Statut de la demande : <span class="text-[#329159] bg-[#daf8e6] px-2 py-0 rounded-full ml-1 font-medium">Validé</span></p>

            <p class="my-2">Commentaire du manager :</p>
            <textarea id="" class="w-[55%] h-[25%] text-[#b4c4cf] bg-white border border-[#dfe4ea] rounded-md p-5 resize-none" readonly>Profite bien de tes vacances à Mayorque et surtout, n'oublie pas la carte postale !!!</textarea>

            <button type="submit" class="text-[#004c6c] bg-[#ebf1f4] border-none rounded-md w-[300px] h-[35px] font-medium my-7 cursor-pointer block">Retourner à la liste de mes demandes</button>
        </div>
    </main>

{% endblock %}