{# templates/collaborateur/detail_request.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <style>

        .title {
            color: #004c6c;
        }

        .title_h3 {
            color: #457c93;
        }

        p {
            font-size: small;
        }

        .p_space {
            margin: 30px 0px;
        }

        .status {
            color: #329159;
            background-color: #daf8e6;
            padding: 4px 8px;
            border-radius: 20px;
            margin-left: 5px;
            font-weight:700;
        }

        .textarea {
            width: 55%;
            height: 25%;
            color: #b4c4cf;
            background-color: #fff;
            border: solid 1px #dfe4ea;
            border-radius: 5px;
            padding: 20px;
            resize: none;
        }

        .button_return {
            color: #004c6c;
            background-color: #ebf1f4;
            border: none;
            border-radius: 5px;
            width: 300px;
            height: 35px;
            font-weight: bolder;
            margin: 30px 0px;
            cursor: pointer;
            display: inherit;
        }

    </style>

    <title>{% block title %}Détails d'une Demande{% endblock %}</title>

    <h1 class="title">Ma demande de congé</h1>

    <h3 class="title_h3">Demande du 10/12/2024</h3>

    <p>Type de demande : Congé Payé</p>
    <p>Période : 19/12/2024 08h00 au 23/12/2024 18h00</p>
    <p>Nombre de jours : 3 jours</p>

    <p class="p_space" >Statut de la demande : <span class="status">Validé</span></p>

    <p>Commentaire du manager :</p>

    <textarea id="" class="textarea" readonly>Profite bien de tes vacances à Mayorque et surtout, n'oublie pas la carte postale !!!</textarea>

    <button type="submit" class="button_return">Retourner à la liste de mes demandes</button>

{% endblock %}