{% for type, messages in app.flashes %} {#Boucle for pour lire le flash#}
    {% for message in messages %} {#Boucle for pour lire le tableau de message flash#}
        {% set color = type == 'success' ? 'green' : 'red'%} {#Condition pour vérifier si le lash est un succès ou une erreur #}
        <div class="p-4 mb-4 text-sm text-{{color}}-800 rounded-lg bg-{{color}}-50 dark:bg-gray-800 dark:text-{{color}}-400" role="alert">
            <span class="font-medium">{{ message }}</span>
        </div>
    {% endfor %}
{% endfor %}
{# <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">Succes</span> <!--Test de front pour afficher le message -->
</div> #}